.card{
    background-color: inherit !important;
    z-index: 0;
}
.packagebtn{
    height: 40px !important;
    width: 150px !important;
}
.packageimg{
    height: 211px;
    width: 400px;
}
.packmainimg{
    height: 500px;
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
}
.packagecontainer{
    width: 430px;
    height: 409px;


}
.packh5{
    color:white;
    
    font-size: 30px;
}
.packpack{
    width: 97%;
    margin-left: 1%;
    background-color: skyblue;
}
.packpack h5{
    font-size: 30px;
}
.packbtn{
    background-color: orangered;
}

@media (min-width: 800px) and (max-width:1025px) {
 .packageimg{
    width: 295px;
 }
 .packpack{
    width: 297px;
    margin-left: -0.3%;
 }
    
}
 @media (min-width:501px)and (max-width :770px) {

    .packagecontainer{
        text-align: center;
        width: 300px;
    }
    .packpack{
        padding: 0;
        width: 90%;
        margin-left: 5%;
        text-align: center;
    }
    .packageimg{
        height: 250px;
        width: 300px !important;
    }
 }
@media (max-width:500px) {
    .packagecontainer{
        text-align: center;
        width: 100%;
    }
    .packpack{
        width: 90%;
        margin-left: 5%;
        text-align: center;
    }
    .packmainimg{
        height: 250px;
    }
    .packageimg{
        height: 169px;
        width: 90%;
    }
    
}
