
.booking-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 100%;
}

.background-image-booking {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.content-container-booking {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 500px;
    padding: 40px;
    background: rgba(0, 0, 0, 0.5); 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-control-booking,
.select-control-booking, .form-control-booking {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #ccc;
    background: none;
    outline: none;
    height: 100%;
    transition: border-bottom-color 0.3s ease;
    margin-bottom: 10px;
    color: white; 
}
.form-control-booking:focus,
.select-control-booking:focus,
.phone-input-container .form-control-booking:focus {
    border-bottom-color: #ffcc00;
}

.clcc{
    background-color: aqua;
}

.btn-booking {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #ffcc00;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-booking:hover {
    background-color: #e6b800;
}

.phone-input-container {
    width: 100%;
    margin-bottom: 10px;
    color:black;
    
}

.phone-input-container ::placeholder{
 color: black;
}


.phone-input-container .form-control-booking {
    width: calc(100% - 56px); 
    display: inline-block;

}
@media (max-width: 768px) {
    .content-container-booking {
        padding: 20px;
    }

    .btn-booking {
        font-size: 14px;
    }
}
