.foot {
    width: 100%;
    padding: 20px 0;
}

.clrr {
    color: aqua !important;
    font-size: 25px !important;
}
.padd{
    padding: 0px 0px 0px 0px !important;
    margin: 0px 0px 0px 0px !important;
}


.follow-us {
    margin: 0 -15px;
}

@media (min-width: 501px) and (max-width: 770px) {
    .foot {
        height: auto !important; 
    }
}

@media  (min-width: 301px) and (max-width: 600px) {
    .foot ,.followhead{
        font-size: 7px;
        padding: 0px;
}
}
